<% layout('layouts/boilerplate')%>

<div class="row">
   <h1 class="text-center">New Campground</h1>
   <div class="col-6 offset-3">
      <div class="card shadow mb-5">
         <div class="card-body">
  <form action="/campground" method="post" class="needs-validation" novalidate enctype="multipart/form-data" >
   <div class="mb-3">
        <label for="title" class="form-label">Title : </label>
        <input type="text" id="title" class="form-control" placeholder="title" name="campground[title]" required>
        <div class="valid-feedback">
         Looks good!
       </div>
     </div>
     <div class="mb-3">
        <label for="loc" class="form-label">location: </label>
        <input type="text" id="loc" class="form-control" name="campground[location]" required>
        <div class="valid-feedback">
         Looks good!
       </div>
     </div>
     <div class="mb-3">
      <label for="img" class="form-label">add images: </label>
      <!-- <input type="text" id="img" class="form-control" name="campground[image]" required> -->
      <!-- <input type="file" name="image" id="img" multiple> -->
      <div class="input-group mb-3">
         <input type="file" class="form-control" id="inputGroupFile02" name="image" multiple>
         <label class="input-group-text" for="inputGroupFile02">Upload</label>
       </div>
      <div class="valid-feedback">
         Looks good!
       </div>
   </div>
   <div class="mb-3">
      <label for="des" class="form-label">Description: </label>
      <textarea name="campground[description]" id="des" class="form-control" cols="30" rows="5" required></textarea>
      <div class="valid-feedback">
         Looks good!
       </div>
   </div>
   <div class="mb-3">
      <label for="price" class="form-label">Price: </label>
   <div class="input-group mb-3">
      
      <span class="input-group-text" id="price-lable">&#8377;</span>
      <input type="text" id='price' class="form-control" name="campground[price]" aria-label="price" aria-describedby="price-lable" required> 
      <span class="input-group-text">.00</span>
      <div class="valid-feedback">
         Looks good!
       </div>
    </div>
   </div>
     <div class="mb-3">
      <button class="btn btn-success">add campground</button>
     </div>
  
  </form>
  <a href="/campground">all campgrounds</a>
</div>
   </div>
</div>
</div>
